* {
	font-family: Monaco, monospace;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.dark-mode {
	/* filter: invert(100%) !important; /**/
}

/* ------------------------------------ Layout ------------------------------------ */

.flex-container {
	display: flex;
	background-color: #ffebcc;
	height: 100%;
}

.tree {
	margin: auto;
    white-space: pre;
	text-align: center;
}

.menu {
	display: flex;
	flex-direction: column;
	background-color: #dae1da;
	width: 250px;
	padding: 19px;
	border-left-style: ridge;
	border-width: 3px;
}

.init-starting-node {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #e0dfdf;
	height: 100%;
    white-space: pre;
}

.init-starting-node__input-block-container {
	display: flex;
	flex-direction: row;
	margin-top: 36px;
}

.init-starting-node__input-block {
	margin: 26px 15px;
}

.init-starting-node__button-block-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.init-starting-node__button-block {
	margin: 8px 60px;
	padding: 2px 10px;
}

.display-message-container {
	margin-top: 29px;
	margin-bottom: 39px;
	text-align: center;
}

/* ------------------------------------ RuleTree ------------------------------------ */

.leftSide {
	display: inline-block;
}

.rightSide {
	display: inline-block;
	/* float: right;
	margin: auto; */
}

.line {
	height: 1.3px;
	width: inherit;
	margin-bottom: 4px;
	background-color: black;
}

.rule {
	/* border-bottom: 1px solid black; */
	padding: 5px;
}
    
.overline {
  /* border-top: 1px solid red; */
}

.conclusion {
	padding: 2px;
}

div.conclusion:hover {
	/*border-width: 2px;
	padding: 0px;
	border-style: solid;
	border-radius: 7px;*/
	background-color:rgb(216, 226, 209);
	border-radius: 7px;
}

.conclusion--selected {
	background-color:rgb(226, 209, 226);
	border-radius: 7px;
}

.hole {
	padding: 2px;
}

.ruletree-text-highlight {
	color: red;
}

/* ------------------------------------ User Controls ------------------------------------ */

.menu__meta-variable-input-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu__meta-variable-input-block input {
	flex-grow: 1;
}

.menu__top-button-container {
	display: flex;
	justify-content: space-between;
}

.menu__top-buttons {
	font-family: Consolas, Courier, monospace;
	font-size: 113%;
	margin-bottom: 25px;
	padding-left: 8px;
	padding-right: 8px;
}

.menu__bottom-button-row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;
	align-items: stretch;
	margin-top: 13px;
	margin-bottom: 13px;
}

label {
	font-family: Georgia, Serif;
	width: 20%;
	font-size: 110%;
	display: block;
	text-align: center;
	margin: 1px 0px 1px 5px;
}

.capitalLetterLabel {
	font-size: 98%;
	height: 17px;
	padding-top: 1.5px;
	padding-bottom: 1.5px;
}

input {
	display: block;
}

form > div {
	padding: 3px;
}

.menuRule {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
}

.menuRule--selected {
	background-color: rgb(199, 194, 216);
	border-radius: 10px;	
}

.menuRule:hover {
	border-style: solid;
	border-width: 2px; /* border-width vergrößert das div um 2px -> */
	padding: 13px;     /* -> padding um 2px reduzieren */
	border-radius: 10px;
}

.menuLine {
	text-align: center;
	white-space: pre;
	line-height: 80%;
}

.menuText {
	font-family: Georgia, Serif;
	text-align: center;
	white-space: pre;
}

/* ------------------------------------ ... ------------------------------------ */